[submodule "packages/tempel-collection"]
	path = vendor/tempel-collection
	url = https://github.com/DavidRConnell/tempel-collection
[submodule "vendor/nano-emacs"]
	path = vendor/nano-emacs
	url = https://github.com/rougier/nano-emacs
[submodule "vendor/doom-snippets"]
	path = vendor/doom-snippets
	url = https://github.com/doomemacs/snippets
[submodule "vendor/flymake-matlab"]
	path = vendor/flymake-matlab
	url = https://github.com/DavidRConnell/flymake-matlab
