[submodule "packages/tempel-collection"]
	path = vendor/tempel-collection
	url = https://github.com/DavidRConnell/tempel-collection
[submodule "vendor/nano-emacs"]
	path = vendor/nano-emacs
	url = https://github.com/rougier/nano-emacs
